@import "bootstrap";


.card-title {
  text-align: center;
}


.title {
  padding: 40px 40px 40px 40px;
  text-align: center;
  background-color: #EBE4DB;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}


.title-recipe {
  text-align: center;
  padding: 10px 10px 10px 10px;

}


.description {
  text-align: center;
  padding: 10px 10px 10px 10px;

}

.ingredients {
  text-align: center;
  padding: 10px 10px 10px 10px;
}


.image {
  size: 20px 20px;
  text-align: center;
}

.recette {
  text-align: center;
  padding: 10px 10px 10px 10px;


}

.col {
  text-align: center;
}

.subtitle {
  margin-top: 60px;
  text-align: center;
}

.list {
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
}

.btn-primary {
  background-color: #809581;
  margin-top: 30px;
  color: whitesmoke;
  border: none;

}

.btn-primary:hover {
  background-color: #EBE4DB;
  color: black;
  border: none;
}


p {
  margin-left: 80px;
  margin-right: 80px;
  margin-block-end: auto;
}

.New {
  margin-top: 30px;
  text-align: center;
}

.row {
  text-align: center;
  margin-top: 30px;
}


.card {
  text-align: center;
}

.row {
  padding: 30px 30px 30px 30px;
  margin: 30px 30px 30px 30px;
  text-align: center;
}

.actions {
  text-align: center;
}

.bouttons {
  text-align: center;
}
